<%- include("partials/_header") %>
<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">

            <h2>Hakkımızda</h2>
            <p><a href="/">Ana Sayfa</a> &nbsp; / &nbsp; Hakkımızda</p>

        </div>
    </div>
</section>
<div class="w3l-about-us best-rooms py-5">
    <div class="container py-lg-5 py-sm-4">
        <div class="maghny-gd-1">
            <div class="row about-text">
                <div class="col-lg-6">
                    <h3 class="title-big">2000 yılından beri Londra'nın en iyi lüks oteli. Otelimiz, 20 yılı aşkın bir süredir hizmetinizde.






                    </h3>
                </div>
                <div class="col-lg-6">
                    <p>20 yılı aşkın süredir Londra'nın en prestijli adreslerinden biri olan otelimiz, konfor ve zarafeti mükemmel bir şekilde harmanlar. Şehir manzaralı odalarımız ve lüks olanaklarımızla, her konaklamada eşsiz bir deneyim sunarız. Sadece bir otel değil, hayalinizdeki tatilin kapılarını aralayan bir yaşam alanı.</p>
                    <p class="mt-3"></p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="maghny-gd-1 col-lg-4 col-md-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="/images/about1.jpg">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>Deniz  <span> Manzarası</span></h4>
                                    <p>Deniz ve Orman Kenarı</p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="/images/about2.jpg">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>Spa<span> Hizmeti</span></h4>
                                    <p>Her gün hizmetinizde</p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius">
                            <img class="img-fluid" src="/images/about3.jpg">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4>Titizlikle Hazırlanmış<span> Odalar</span></h4>
                                    <p>Son Teknoloji Sistemler</p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="w3-about-2" id="features">
    <div class="w3-services-ab py-5">
        <div class="container py-lg-4 py-md-3">
            <div class="title-section">

                <div class="title-line">
                </div>
            </div>
            <div class="row w3-services-grids">
                <div class="col-lg-9 w3-services-right-grid pl-lg-5 mx-auto">
                    <h4 class="mb-md-5 mb-4">Bu tatil için kendinize vakit ayırın</h4>
                    <div class="fea-gd-vv row">
                        <div class="col-md-6">
                            <div class="float-lt feature-gd">
                                <div class="icon"> <span class="fa fa-file-text-o" aria-hidden="true"></span></div>
                                <div class="icon-info">
                                    <h5>Hoşgeldin Etkinliği</h5>
                                    <p> Otelimizde her ziyaretinizde ilk etkinliğinizi bizler karşılıyoruz.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-4">
                            <div class="float-mid feature-gd">
                                <div class="icon"> <span class="fa fa-trophy" aria-hidden="true"></span></div>
                                <div class="icon-info">
                                    <h5>Bisiklet Turları</h5>
                                    <p>Haftanın üç günü Sahil şeridinde ve doğa parkurlarında bisiklet turları</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 pt-md-2">
                            <div class="float-rt feature-gd">
                                <div class="icon"> <span class="fa fa-clone" aria-hidden="true"></span></div>
                                <div class="icon-info">
                                    <h5>Son Teknoloji İnternet</h5>
                                    <p> Türkiye'nin en hızlı internet hizmeti ile 7/24 kesintisiz internet erişimi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 pt-md-2">
                            <div class="float-lt feature-gd">
                                <div class="icon"> <span class="fa fa-bullseye" aria-hidden="true"></span></div>
                                <div class="icon-info">
                                    <h5>Yüzme Havuzları</h5>
                                    <p> Bir olimpik bir yarı olimpik ve bir çocuk havuzu ile hizmetinizdeyiz</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team -->
<section class="team py-5" id="team">
	<div class="container py-lg-4 py-sm-3">
        <h3 class="title-big text-center mb-md-5 mb-4">Ekibimiz</h3>
		<div class="row inner-sec-w3layouts-w3pvt-lauinfo">
            <% for (person of persons) { %> 
                <div class="col-md-3 col-6">
                    <div class="team-grids text-center">
                        <img src="<%= person.img %>" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <h4><%= person.name %></h4>
                                <h6><%= person.work %></h6>
                            </div>
                        </div>
                    </div>
                    <div class="social-icons-section text-center">
                        <a class="fac" href="<%= person.facebookURL %>">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="twitter" href="<%= person.twitterURL %>">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
                <% } %>
		</div>
	</div>
</section>
<!-- team -->
<section class="w3l-stats">
    <div class="main-w3 py-5">
        <div class="container py-lg-3">
            <div class="row align-items-center">
                <div class="col-lg-6 title">
                    <h3 class="title-big">Harika bir eğlence faktörümüz var! Rahatlayın ve tatilinizin tadını çıkarın.</h3>
                    <p class="mt-4">Otelimizde her anı özel kılacak detaylarla dolu bir tatil deneyimi sunuyoruz. Konforlu odalarımız, benzersiz olanaklarımız ve eşsiz doğa manzaramızla size unutulmaz bir tatil vaadediyoruz. Keyifli anlar yaşamanız için buradayız!</p>
                </div>
                <div class="col-lg-6 main-cont-wthree-fea text-center">
                    <div class="row">
                        <div class="col-6 pr-2 mt-4">
                            <div class="grids-speci1">
                                <span class="fa fa-users"></span>
                                <h3 class="title-spe">1200+</h3>
                                <p>Mutlu Müşteri</p>
                            </div>
                        </div>
                        <div class="col-6 pl-2 mt-4">
                            <div class="grids-speci1">
                                <span class="fa fa-camera"></span>
                                <h3 class="title-spe">92</h3>
                                <p>Deniz ve Doğa Manzaralı Oda</p>
                            </div>
                        </div>
                        <div class="col-6 pr-2 mt-4">
                            <div class="grids-speci1">
                                <span class="fa fa-briefcase"></span>
                                <h3 class="title-spe">158</h3>
                                <p>Çalışan</p>
                            </div>
                        </div>
                        <div class="col-6 pl-2 mt-4">
                            <div class="grids-speci1">
                                <span class="fa fa-comments"></span>
                                <h3 class="title-spe">150+</h3>
                                <p>Hizmet Seçeneği</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="w3l-testimonials">
    <!-- main-slider -->
    <div class="testimonials py-5">
        <div class="container text-center py-lg-3">
            <div class="heading text-center mx-auto">
                <h3 class="title-big text-center">Referanslarımız</h3>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="owl-testimonial owl-carousel owl-theme">
                        <% for (person of persons) { %> 
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="<%= person.img %>" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message"><%= person.testimonail %></div>
                                <div class="name">- <%= person.name %></div>
                            </div>
                        </div>
                        <% } %>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /main-slider -->
</section>

<%- include("partials/_footer") %>