<%- include("partials/_header") %>
<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">

            <h2>Oda Tipleri</h2>
            <p><a href="/">Home</a> &nbsp; / &nbsp; Oda Tipleri</p>

        </div>
    </div>
</section>
<section class="team py-5" id="team"></section>
	<div class="container py-lg-4 py-sm-3">
        <h3 class="title-big text-center mb-md-5 mb-4">Oda Tipleri</h3>
		<div class="row inner-sec-w3layouts-w3pvt-lauinfo">
            <% for (room of rooms) { %> 
                <div class="col-md-3 col-6">
                    <div class="team-grids text-center">
                        <img src="<%= room.img %>" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <h4><%= room.title %></h4>
                                <h6><%= room.maxPeople %>Kişilik</h6>
                                <h6><%= room.price %>TL</h6>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p><%= room.desc %></p>
                    </div>
                </div>
                <% } %>
		</div>
	</div>
</section>

<!-- quotation -->
<div class="quotation py-5">
	<div class="container py-xl-5 py-lg-3">
		<div class="welcome-left text-center py-md-5 py-3">
			<h3>Enjoy a Luxury experience. Discover our locaions. Relax and enjoy your holiday</h3>
			<a href="/services" class="btn btn-style transparent-btn mt-sm-5 mt-4 mr-2">Services</a>
			<a href="/contact" class="btn btn-style btn-primary mt-sm-5 mt-4">Contact Us</a>
		</div>
	</div>
</div>
<!-- //quotation -->
<%- include("partials/_footer") %>
